.availability-list {
  margin: 16px 0 -2px;
}

.availability-list__item {
  font: {
    family: $montserrat-regular;
    size: 16px;
  }
  line-height: 24px;
  padding-bottom: 21px;
}

.availability-list__item span {
  cursor: pointer;
}

.availability-list__label {
  padding-left: 33px;

  &--disabled {
    color: $base_grey;
  }
}

.availability-list__input {
  position: absolute;
  appearance: none;
}

.availability-list__radio {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -2em;
  background: url("../../img/svg/radio/unchecked.svg") no-repeat 0 0;
  transition: 0.3s;

  &:hover {
    background-color: $primary_opacity_025;
  }
}

/* Checked */
.availability-list__input:checked + .availability-list__radio {
  background: url("../../img/svg/radio/checked.svg") no-repeat 0 0;
}

/* Hovered */
.availability-list__input:not(:checked):hover + .availability-list__radio {
  background: url("../..//img/svg/radio/hover-focus.svg") no-repeat 0 0;
}

/* Disabled */
.availability-list__input:disabled + .availability-list__radio {
  background: url("../../img/svg/radio/disabled.svg") no-repeat 0 0;
}

.availability-list__input:checked:disabled + .availability-list__radio {
  background: url("../../img/svg/radio/disabled-checked.svg") no-repeat 0 0;
}
