.card {
  background-color: $base_white;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 73px 30px 0;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.card__title {
  font: {
    family: $montserrat-bold;
    size: 18px;
  }
  line-height: 32px;
  margin: 0;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    font: {
      size: 24px;
    }
    line-height: 36px;
    padding-bottom: 10px;
  }
}

.card__description {
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 20px;
  margin: 0;
  padding: 0 0 14px;

  @media (min-width: $tablet-width) {
    padding: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 20px;
  }
}

.card__price {
  font: {
    family: $montserrat-semi-bold;
    size: 20px;
  }
  line-height: 32px;
}

.card__btn {
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 20px;
  color: $base_white;
  background-color: $base_primary;
  border: none;
  border-radius: 4px;
  padding: 8px 21px;

  &:hover,
  &:focus {
    background-color: $primary_darker;
  }

  &:active {
    background-color: $primary_darker;
  }

  &:disabled {
    background-color: $base_grey;
  }
}

.card__add-basket-icon {
  width: 22px;
  height: 16px;
  fill: $base_white;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0 0 30px;
  }
}
