.footer-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "store media contacts";
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
    margin: 10px 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    grid-template-columns: repeat(3, 317px);
  }
}

.footer-nav__item {
  margin: 0 auto;
  padding: 0 20px 8px 20px;
  border-bottom: 1px solid #e0ebff;
  letter-spacing: 0.32px;

  @media (min-width: $tablet-width) {
    width: 223px;
    border: none;
    padding: 0;
  }


  &--store {
    grid-area: store;
  }

  &--media {
    grid-area: media;
  }

  &--contacts {
    grid-area: contacts;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.footer-nav__title {
  font: {
    family: $montserrat-bold;
    size: 14px;
  }
  line-height: 20px;
  color: $base_primary;
  margin: 0;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.footer-nav__list-item {
  font: {
    family: $montserrat-medium;
    size: 12px;
  }
  line-height: 16px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $primary_lighter;
  }

  &:active {
    color: $primary_darker;
  }

  @media (min-width: $tablet-width) {
    font: {
      size: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }
}

.footer-nav__list-item--address,
.footer-nav__list-item--phone {
  span,
  a {
    font: {
      family: $montserrat-regular;
      size: 14px;
    }
    letter-spacing: 0;
    font-style: normal;
    line-height: 20px;
    text-transform: none;
    padding-bottom: 0;
  }

  span {
    width: 222px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    span {
      width: 204px;
      padding-bottom: 0;

      @media (min-width: $tablet-width) {
        width: 100%;
        padding-bottom: 14px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 10px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.footer-nav__list-item--address {
  @media (min-width: $mobile-width) {
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.footer-nav__list-item--phone {
  padding-bottom: 0;
}

.footer-nav__pin-icon,
.footer-nav__phone-icon {
  width: 20px;
  height: 20px;
  fill: $base_primary;
  position: relative;
  right: 3px;

  @media (min-width: $tablet-width) {
    right: 4px;
  }
}

.footer-nav__address-title {
  margin: 0;
  padding-left: 17px;
}
