.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 103px;
    width: 389px;
    display: flex;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
  }
}

.pagination__link {
  pointer-events: none;
}

.pagination__link span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__item {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  font: {
    family: $montserrat-regular;
    size: 16px;
  }
  color: $base_primary;
  line-height: 24px;
  background-color: $base_white;
  text-decoration: none;
  padding: 20px 20px 20px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:active {
    background-color: $primary_lighter;
    color: $base_white;
  }

  &:active {
    background-color: $primary_darker;
    color: $base_white;
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.pagination__item--current {
  font: {
    family: $montserrat-semi-bold;
    size: 16px;
  }
  background-color: $lightest_grey;
  color: $base_black;
}

.pagination__item--next::before {
  content: "";
  display: inline-block;
  border: solid $base_primary;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__item--next:hover::before,
.pagination__item--prev:hover::before {
  border-color: $base_white;
}

.pagination__item--prev::before {
  content: "";
  display: inline-block;
  border: solid $base_primary;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(135deg);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
