.slider {
  position: relative;
}

.slider__list {
  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.slider__alert {
  font: {
    family: $montserrat-bold;
    size: 12px;
  }
  line-height: 16px;
  letter-spacing: 0.64px;
  color: $base_primary;
  text-transform: uppercase;
  padding-top: 6px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 600px 1fr;
  }
}

.slider__item img {
  @media (min-width: $tablet-width) {
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    padding-left: 105px;
  }
}

.slider__title {
  font: {
    family: $montserrat-bold;
    size: 36px;
  }
  line-height: 48px;
  color: $base_black;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    font: {
      size: 56px;
    }
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-top: 0;
    margin-top: 4px;
    margin-bottom: 16px;
  }
}

.slider__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 590px;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-left: 135px;
  }
}

.slider__description {
  font: {
    family: $montserrat-regular;
    size: 14px;
  }
  line-height: 20px;
  color: $base_black;
  text-align: center;
  margin: 0;
  padding: 10px 20px 19px;

  @media (min-width: $tablet-width) {
    font: {
      size: 20px;
    }
    line-height: 32px;
    padding: 15px 85px 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: left;
    margin-bottom: 40px;
  }
}

.slider__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__old-price {
  font: {
    family: $montserrat-regular;
    size: 16px;
  }
  line-height: 32px;
  color: $base_primary;
  text-decoration: line-through;
  padding-right: 5px;
}

.slider__price {
  font: {
    family: $montserrat-semi-bold;
    size: 20px;
  }
  line-height: 32px;
  color: $base_black;
}

.slider__btn {
  font: {
    family: $montserrat-regular;
    size: 16px;
  }
  line-height: 24px;
  color: $base_white;
  background-color: $base_primary;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $primary_lighter;
  }

  &:active {
    background-color: $primary_darker;
  }

  &:disabled {
    background-color: $base_grey;
  }
}

.slider__buy {
  display: flex;
  justify-content: space-between;
  width: 230px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.slider__toggles {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.mySwiper .swiper-pagination-bullet {
  display: none;
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: $primary_opacity_025;
    outline: none;
  }

  &:active {
    background-color: $base_primary;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 62px;
    height: 4px;
    background-color: $base_white;
    opacity: 1;
  }
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: $base_primary;
  border-radius: 0;
}
