.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.social-list__item {
  &:hover,
  &:focus {
    background-color: $lightest_violet;
  }

  &:active {
    background-color: $primary_opacity_025;
  }
}

.social-list__link {
  width: 40px;
  height: 40px;
  color: $base_grey;

  &:hover,
  &:focus,
  &:active {
    color: $base_primary;
  }
}

.social-list__vk-icon,
.social-list__ok-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: currentColor;
}

.social-list__printerest-icon {
  width: 22px;
  height: 22px;
  padding: 10px;
  fill: currentColor;
}

.social-list__img {
  fill: $base_grey;
  transition: 0.3s;

  &:hover {
    fill: rgba(120, 89, 207, 0.7);
  }
}
