.user-list {
  position: absolute;
  width: 138px;
  top: 0;
  right: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: fit-content;
    position: relative;
    right: 2px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 260px;
  }
}

.user-list__item {
  font: {
    family: $montserrat-medium;
    size: 12px;
  }
  line-height: 16px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    a {
      padding: 37px 20px 28px 20px;
    }
  }

  @media (min-width: $desktop-width) {
    a {
      display: flex;
      padding: 29px 20px 30px;
    }
  }

  &:active {
    background-color: #f0ebff;
  }
}

.user-list__user,
.user-list__basket {
  &:hover,
  &:focus {
    color: $base_primary;
  }

  &:active {
    color: $base_black;
    background-color: #f0ebff;
  }
}

.user-list__basket-icon,
.user-list__user-icon {
  width: 18px;
  height: 21px;
  fill: currentColor;
}

.user-list__user span,
.user-list__basket span {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding: 3px 0 0 8px;
  }
}
